name: CI

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20]
    steps:
      - name: 拘勇 Checkout Repository
        uses: actions/checkout@v4

      - name: 游닍 Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: 游눹 Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 游닌 Install dependencies
        run: pnpm install

      - name: 游댧 Lint
        run: pnpm lint:check

  type-check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20]
    steps:
      - name: 拘勇 Checkout Repository
        uses: actions/checkout@v4

      - name: 游닍 Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: 游눹 Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 游닌 Install dependencies
        run: pnpm install

      - name: 游댧 Type Check
        run: pnpm typecheck

  format:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20]
    permissions:
      contents: write
    steps:
      - name: 拘勇 Checkout Repository
        uses: actions/checkout@v4

      - name: 游닍 Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: 游눹 Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 游닌 Install dependencies
        run: pnpm install

      - name: 游댧 Format
        run: pnpm format:fix

      - name: 游닞 Commit
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: 'chore: format code'

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20]
    steps:
      - name: 拘勇 Checkout Repository
        uses: actions/checkout@v4

      - name: 游닍 Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: 游눹 Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 游닌 Install dependencies
        run: pnpm install

      - name: 游댧 Build
        run: pnpm build
